.Header {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid aqua;
  border-radius: 50px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin: 25px 50px;
  padding: 0 40px;
}

.Header span {
  font-weight: 500;
}
