body {
  background: #042838;
  color: white;
}

input {
  background-color: white;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Ubuntu , Cantarell , Fira Sans , Droid Sans , Helvetica Neue , sans-serif;
  padding: 12px 50px;
  width: 350px;
  z-index: 1;
}

input:focus-visible {
  border-radius: 50px;
  outline: 3px solid aqua;
}

button {
  background-color: #042838;
  border-radius: 50px;
  color: white;
  font-family: Ubuntu , Cantarell , Fira Sans , Droid Sans , Helvetica Neue , sans-serif;
  font-size: 14px;
  margin-left: -30px;
  padding: 12px 20px;
  width: 200px;
  z-index: 0;
}

button:hover {
  font-size: 16px;
  outline: 2px solid aqua;
}

a {
  color: white;
  text-decoration: none;
  transition: transform 0.7s ease-in-out;
}

a:hover {
  color: aqua;
  font-size: 18px;
}

.Login {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  justify-content: center;
  width: 100%;
}

.LoginDiv {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid aqua;
  border-radius: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 75px;
  justify-content: center;
  margin-top: 50px;
  width: 600px;
}

.Login img {
  background-color: white;
  border-radius: 100px;
  height: 200px;
  margin: 0 1000px;
  margin-bottom: -350px;
  padding: 15px;
}

.Search {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid aqua;
  border-radius: 50px;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 25px 50px;
  padding: 20px 40px;
}

.SearchAlbum {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid aqua;
  border-radius: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 25px 50px;
  padding: 10px 40px;
}

.SearchAlbum h2 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
  width: 100%;
}

.AlbumCard {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-top: 30px;
  text-align: center;
  width: 15%;
}

.AlbumCard a {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  margin: 0;
  text-align: left;
  width: 100%;
}

.AlbumInfo img {
  border-radius: 50px;
  box-shadow: 6px 6px 8px rgba(255, 255, 255, 0.15);
  width: 100%;
}

.Profile img {
  border-radius: 100px;
  box-shadow: 6px 6px 8px rgba(255, 255, 255, 0.15);
  height: 200px;
  margin-left: 100px;
  margin-top: -125px;
}

.ProfileEdit img {
  border-radius: 100px;
  box-shadow: 6px 6px 8px rgba(255, 255, 255, 0.15);
  height: 200px;
  margin-left: 100px;
  margin-top: -125px;
}

.AlbumCard a img {
  border-radius: 50px;
  width: 100%;
}

.AlbumCard a img:hover {
  box-shadow: 6px 6px 8px rgba(255, 255, 255, 0.15);
}

.MusicCard p {
  margin-left: 20px;
  width: 350px;
}

.AlbumCard h3 {
  margin: 0;
  width: 100%;
}

.AlbumCard p {
  margin: -10px 0;
}

.MusicCard {
  align-items: center;
  display: flex;
  flex-flow: row;
  height: 50px;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}

.MusicCard input {
  display: none;
}

.MusicCard audio {
  margin-left: -100px;
  width: 450px;
}

.MusicCard label {
  align-self: auto;
  color: #aab8c2;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

.MusicCard label:hover {
  color: grey;
}

.MusicCard input:checked + label {
  animation: 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  color: #ec5050;
  will-change: font-size;
}

.MusicContainer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 30px;
  width: 80%;
}

.AlbumPage {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid aqua;
  border-radius: 50px;
  display: flex;
  margin: 200px 50px;
  padding: 0 40px;
}

.AlbumInfo {
  margin-left: 70px;
  margin-top: -190px;
  padding: 30px 40px;
  text-align: left;
  width: 20%;
}

.AlbumInfo h2 {
  margin-top: 20px;
}

.AlbumInfo h3 {
  margin-top: -10px;
}

.FavoriteContainer {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid aqua;
  border-radius: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 25px 50px;
  padding: 10px 40px;
  padding-top: 30px;
}

.FavoriteContainer h2 {
  margin-top: 10px;
  margin-bottom: 40px;
}

.FavoriteContainer p {
  width: 400px;
}

.FavoriteContainer audio {
  margin-left: -350px;
  width: 500px;
}

.Profile {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid aqua;
  border-radius: 50px;
  display: flex;
  height: 500px;
  margin: 125px 50px 0;
  padding: 10px 40px;
  padding-top: 30px;
}

.ProfileInfo {
  margin-left: 160px;
}

.Profile p:nth-child( 3n ) {
  margin-bottom: 50px;
}

.Profile a {
  background-color: aqua;
  border: 10px solid aqua;
  border-radius: 20px;
  color: #042838;
  padding: 0 20px;
}

.ProfileEdit {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid aqua;
  border-radius: 50px;
  display: flex;
  height: 500px;
  margin: 125px 50px 0;
  padding: 10px 40px;
  padding-top: 30px;
}

.ProfileEdit input {
  height: 43px;
}

.ProfileEdit button {
  background-color: aqua;
  color: #042838;
  height: 43px;
  margin: 40px 0 0;
}

.ImageEdit {
  width: 390px;
}

.ImageEdit input {
  margin: 20px 10px;
}

.Loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
